@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7 !important;
    padding: 20px 25px 30px !important;
    margin: 0 auto 25px !important;
    margin-top: 50px !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

.profile-img-card {
    width: 96px !important;
    height: 96px !important;
    margin: 0 auto 10px !important;
    display: block !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
}

.navbar {
    border-radius: 0 !important;
}

.form-check-input {
    position: absolute !important;
    margin-top: .3rem !important;
    margin-left: -1.25rem !important;
}

.form-check-label {
    display: block;
}
